*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.commerce{
    margin-left: 50px;
}
.image{
    background-image: url("../images/main.png.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%px;
    height: 550px;
    border-radius: 5px;
    
  }

  .text{
    color: white;
    /* position: relative; */
    left: 50px;
    bottom: -100px;
    top: 190px;
  }
/* .horizantol_line{
    width: 1460px;
    position: relative;
    left: 20px;
} */
.latest_products{
   margin-left: 100px;
}
.item1,.item2,.item3,.item4,.item5{
    text-decoration: none;
    color: black;
}
.items{
    margin-left: 400px;
}
/* .navlink{
    margin-right: 186px;
} */
#log:hover{
    color: white;
    
}
/* .hello:hover{
    color: white;

} */
